/* HTML elements */
img {
    max-width: 300px;
    border-radius: 25px;
}

/* ID elements */

#list-color {
    background-color: white;
    color: rgb(150, 150, 150);
    width: 95px;
    border-radius: 50px;
    border-color: rgb(255, 255, 255);
    border: solid;
    margin: auto;
}

/* Class elements */

.head1 {
    text-align: center;
}

.descr {
    background-color: rgb(67, 157, 173);
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
}