/* HTML elements */
img {
    max-width: 300px;
    border-radius: 25px;
}

/* ID elements */

#list-color {
    background-color: white;
    color: teal;
    width: 95px;
    border-radius: 50px;
    border-color: black;
    border: solid;
    margin: auto;
}

/* Class elements */

.head1 {
    text-align: center;
}

.descr {
    background-color: rgb(131, 102, 9);
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
}